.landing-page {
	align-self: center;
	display: flex;
	margin: 0 1rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #6a59e7;
	width: 98%;
	height: 23vh;
}

.landing-page-info {
	text-align: center;
	font-size: 1.2rem;
	padding: 1.5rem;
	color: white;
}

.landing-page-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	width: 98%;
	margin-bottom: 0.5rem;
}

.landing-page-button {
	background-color: #a45ee2;
	outline: none;
	padding: 1.2rem 4rem;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1.7rem;
	cursor: pointer;
}

.landing-page-button:hover {
	background-color: #574cac;
	border: 3px solid white;
}

.landing-page-button:active {
	margin-top: 1rem;
}

@media screen and (min-width: 320px) {
	.landing-page-info {
		font-size: 1.3rem;
		padding: 1.7rem;
	}

	.landing-page-button {
		padding: 1.3rem 7rem;
	}
}

@media screen and (min-width: 360px) {
	.landing-page {
		height: 25vh;
	}

	.landing-page-info {
		font-size: 1.5rem;
		padding: 1.7rem;
	}

	.landing-page-button {
		padding: 1.3rem 8rem;
	}
}

@media screen and (min-width: 480px) {
	.landing-page {
		height: 27vh;
	}
	.landing-page-info {
		font-size: 1.7rem;
		padding: 1.7rem;
	}

	.landing-page-form {
		margin-bottom: 1rem;
	}

	.landing-page-button {
		font-size: 1.8rem;
		padding: 1.5rem 10rem;
	}
}

@media screen and (min-width: 520px) {
	.landing-page {
		height: 28vh;
		width: 45rem;
	}
	.landing-page-info {
		font-size: 1.7rem;
		padding: 1.7rem;
	}

	.landing-page-form {
		margin-bottom: 1.5rem;
	}

	.landing-page-button {
		font-size: 2rem;
		padding: 1.5rem 10rem;
	}
}

@media screen and (min-width: 600px) {
	.landing-page {
		width: 48rem;
	}
	.landing-page-info {
		padding: 2rem;
	}

	.landing-page-form {
		margin-bottom: 1.8rem;
	}

	.landing-page-button {
		padding: 1.5rem 8rem;
	}
}

@media screen and (min-width: 720px) {
	.landing-page {
		height: 30vh;
		width: 50rem;
	}
	.landing-page-info {
		font-size: 1.7rem;
	}

	.landing-page-form {
		margin-bottom: 1.5rem;
	}

	.landing-page-button {
		padding: 1.5rem 9rem;
	}
}

@media screen and (min-width: 800px) {
	.landing-page-info {
		font-size: 1.8rem;
	}

	.landing-page-button {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 1024px) {
	.landing-page {
		height: 33vh;
		width: 55rem;
	}
	.landing-page-info {
		font-size: 2rem;
		padding: 2.3rem;
	}

	.landing-page-form {
		margin-bottom: 2rem;
	}

	.landing-page-button {
		font-size: 2.4rem;
		padding: 2rem 8rem;
	}
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1366px) {
	.landing-page {
		height: 35vh;
		width: 60rem;
	}
	.landing-page-info {
		font-size: 2.5rem;
	}

	.landing-page-form {
		margin-bottom: 1.8rem;
	}

	.landing-page-button {
		font-size: 2.5rem;
		padding: 2.3rem 9rem;
	}
}
